.bgimage{
    background-image: url('/public/WEB_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
}
#section_call_to_action{
    background: #f4f5f6;
   
   
}
